* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-surface50: #444;
}

.spacer,
.wrapper {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  border-top: dashed 2px var(--color-surface50);
  border-bottom: dashed 2px var(--color-surface50);
}

.cards {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}

.card-wrapper {
  width: 100%;
  perspective: 500px;
  margin-bottom: 50px;
}

.card-wrapper:last-child {
  margin-bottom: 0;
}

.card {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: transform 0.5s ease;
}

/* hover effect */
.card-wrapper:hover .card {
  transform: rotateX(10deg) scale(1.05);
}

.card.one {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-1.jpg");
}

.card.two {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-2.jpg");
}

.card.three {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-3.jpg");
}

.card.four {
  background-image: url("https://assets.codepen.io/16327/portrait-pattern-4.jpg");
}

@media (min-width: 768px) {
  .cards {
    width: 80%;
    padding: 0 30px;
  }
}

@media (min-width: 1024px) {
  .cards {
    width: 70%;
    padding: 0 50px;
  }
}
